<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head}" />

<body>
	<header th:replace="~{fragmentos :: header}" />
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nome</th>
					<th scope="col">Sobrenome</th>
					<th scope="col">Email</th>
					<th scope="col">#</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="paciente: ${pacientes}">
					<td th:text="${paciente.id}" />
					<td th:text="${paciente.firstName}" />
					<td th:text="${paciente.lastName}" />
					<td th:text="${paciente.email}" />
					<td>
						<a th:href="@{'/psc/edit/'+${paciente.id}}">Editar</a>
						<a th:href="@{'/psc/del/'+${paciente.id}}">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>