<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head}" />

<body>
	<header th:replace="~{fragmentos :: header}" />
	<div class="container-fluid p-4">
		<div class="row">
			<div th:each="psicologo: ${psicologos}" class="card text-center text-white bg-primary mb-3">
				<div class="card-header" th:text="${psicologo.nome + ' ' + psicologo.sobrenome}" />
				<div class="card-body">
					<h5 class="card-title" th:text=" ${psicologo.email}"></h5>
					<a th:href="@{'/psc/edit/'+${psicologo.id}}" class="card-link text-white">Editar</a>
					<a th:href="@{'/psc/del/'+${psicologo.id}}" class="card-link text-white">Deletar</a>
				</div>
			</div>
		</div>
	</div>
	<div class="mb-3 p-3" role="group">
		<button type="button" class="btn btn-primary" onclick="window.history.back()">
			Voltar
		</button>
	</div>
</body>

</html>