<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<title>Home</title>

</head>

<body>

	<div sec:authorize="hasAuthority('ADMIN')">
		This content is only shown to admins.
	</div>

	<div sec:authorize="hasAuthority('PSC')">
		This content is only shown to psc.
	</div>
	<br />

	<span sec:authentication="name">Username</span>
	<br />

	<span sec:authentication="principal.authorities">Roles</span>
	<br />

	<div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
		<div class="col-md-10 col-md-offset-2">
			<h2>User Has Role Admin</h2>
		</div>
	</div>
	<div class="row" sec:authorize="hasAuthority('ADMIN')">
		<div class="col-md-10 col-md-offset-2">
			<h2>User Has Authority Admin</h2>
		</div>
	</div>

	<div>
		<p sec:authentication="principal.username">username</p>
		<br />
		User: <span sec:authentication="name">NOT FOUND</span>
		<br />

		Spring Roles: <span sec:authentication="principal.authorities">NOT FOUND</span>
	</div>

	<br />
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
</body>

</html>